The data (X1, X2, X3, X4) are for each student.
X1 = score on exam #1
X2 = score on exam #2
X3 = score on exam #3
X4 = score on final exam

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_excel('mlr03.xls')
df

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    EXAM1  EXAM2  EXAM3  FINAL
0      73     80     75    152
1      93     88     93    185
2      89     91     90    180
3      96     98    100    196
4      73     66     70    142
5      53     46     55    101
6      69     74     77    149
7      47     56     60    115
8      87     79     90    175
9      79     70     88    164
10     69     70     73    141
11     70     65     74    141
12     93     95     91    184
13     79     80     73    152
14     70     73     78    148
15     93     89     96    192
16     78     75     68    147
17     81     90     93    183
18     88     92     86    177
19     78     83     77    159
20     82     86     90    177
21     86     82     89    175
22     78     83     85    175
23     76     83     71    149
24     96     93     95    192

In [13]:
Y = df['FINAL']
df['ones'] = 1
X = df[['ones', 'EXAM1', 'EXAM2', 'EXAM3']]

w = np.linalg.solve( X.T.dot(X), X.T.dot(Y) )
Yhat = X.dot(w)

d1 = Y - Yhat
d2 = Y - Y.mean()
r2 = 1 - d1.dot(d1)/d2.dot(d2)
print(r2)

0.9896615789448399